<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목장 목록</title>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
</head>
<body>
    {% load static %}
    <script src="{% static 'js/farm/farm_list.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/cheese/cheese_list.css' %}">
    <script src="{% static 'js/common.js' %}"></script>

    <a class="top_button_box">
        <span>TOP</span>
    </a>
    <div class="wrap">
        <header class="head">
            {% include 'header.html' %}
        </header>

        <main class="main">
            <div class="home_link">
                <div class="main_container">
                    <div class="hl_box">
                        <span class="linkb"><a href="{% url 'index' %}">홈</a> / </span>
                        <span class="linkb">낙농체험 목장</span>
                    </div>
                </div>
            </div>
            <div class="main_container">
                <div class="cheese_box">
                    <div class="cb_title_box">
                        <span class="titleBox">낙농체험 목장</span>
                    </div>
                    <div class="cb_content_box">
                        <div class="cb_con_box">
                        </div>
                    </div>
                </div>
                <div id="paging" class="paging"></div>
            </div>
        </main>

        {% include 'footer.html' %}
    </div>
</body>
</html>