<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/login.css' %}">
    <link href="https://webfontworld.github.io/SCoreDream/SCoreDream.css" rel="stylesheet">
    <script src="{% static 'js/common.js' %}"></script>
    
    <div class="wrap">
        <header class="login_header">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/common/logo_photo.png' %}" alt="logo.png">
                </a>
            </div>
        </header>

        <main class="main">
            <div class="main_container">
                <div class="login_box">
                    <div class="login_title" style="width:100%; justify-content: center;">비밀번호가 성공적으로 재설정되었습니다.</div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>