<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/login.css' %}">
    <link href="https://webfontworld.github.io/SCoreDream/SCoreDream.css" rel="stylesheet">
    <script src="{% static 'js/common.js' %}"></script>
    
    <div class="wrap">
        <header class="login_header">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/common/logo_photo.png' %}" alt="logo.png">
                </a>
            </div>
        </header>

        <main class="main">
            <div class="main_container">
                <div class="login_box">
                    <div class="login_title">비밀번호 재설정</div>
                    <div class="login_form">
                        {% if validlink %}
                        <form method="post">
                            {% csrf_token %}
                            <input placeholder="Password" type="password" name="new_password1">
                            {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="login_error">
                                        <strong>{{error}}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input placeholder="Password Check" type="password" name="new_password2">
                            {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="login_error">
                                        <strong>{{error}}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input type="submit" value="설정하기" class="submit">
                        </form>
                        {% else %}
                        <h3>만료된 페이지입니다.</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>